NOMBRE_APLICACION=VitaGo Corporate
MODO_APLICACION=CORPORATIVO
PROVEEDOR_AUTENTICACION=LOCAL
ENTORNO=LOCAL
DEPURACION=true
NOMBRE_BASE_DATOS=vitago_corporativo
CLAVE_SECRETA=reemplazar-con-un-valor-diferente-al-de-network
ALGORITMO_JWT_LOCAL=HS256
CLAVE_FIRMA_JWT_LOCAL=reemplazar-con-un-secreto-exclusivo-de-corporate
EMISOR_JWT_LOCAL=vitago-corporativo-local
AUDIENCIA_JWT_LOCAL=vitago-corporativo-movil
CLAVE_HASH_TOKEN_REFRESCO_LOCAL=reemplazar-con-otro-secreto-exclusivo-de-corporate
RAIZ_ARCHIVOS=media/corporativo
TAMANO_MAXIMO_EVIDENCIA_MB=10
FUNCIONALIDAD_TARIFAS=false
FUNCIONALIDAD_REPARTIDORES_COMPARTIDOS=false
FUNCIONALIDAD_MANTENIMIENTO_FLOTA=true
PRECISION_GPS_MAXIMA_METROS=100
VELOCIDAD_GPS_MAXIMA_METROS_SEGUNDO=55
